.site-footer {
  background-color: #1e293b;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
