<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTermInput"
    placeholder="Введіть назву новини..."
    class="search-input"
  />

  <button class="search-btn" (click)="performSearch()">
    🔍 Пошук
  </button>
</div>

@if (searchPerformed) {
  <div class="search-result">
    Результат пошуку: знайдено {{ news.length }} новин
  </div>
}

<div class="news-list">
  @for (item of news; track item.id) {
    <app-item-card [newsItem]="item"></app-item-card>
  }
</div>
