:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* сторінка займає весь екран */
}

/* головний блок сторінки */
main {
  flex: 1; /* займає увесь простір між хедером і футером */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5; /* світлий фон */
  padding: 40px 0; /* відступи зверху і знизу, щоб не прилипало */
}
