<div
  class="item-card"
  hoverHighlight
  [ngClass]="{ 'popular': newsItem.views > 4000 }"
>
  @if (newsItem) {
    <img
      ngSrc="{{ newsItem.imageUrl }}"
      [alt]="newsItem.title"
      width="300"
      height="200"
    />

    <h3>{{ newsItem.title }}</h3>
    <p>{{ newsItem.description | truncate:100 }}</p>
    <span>Дата: {{ newsItem.date }}</span>
    <br />
    <small>Переглядів: {{ newsItem.views }}</small>

    @if (newsItem.views > 4000) {
      <span class="badge">🔥 Популярне</span>
    }

    <a class="details-btn" [routerLink]="['/items', newsItem.id]">
      Детальніше
    </a>

  }
</div>
